.parent-container {
    height: 100vh;
}

.parts {
    height: 100%;
    display: flex;
    flex-direction: row;
    background: #333333;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dd1818, #333333);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dd1818, #333333);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.part1 {
    height: 100%;
    width: 50%;
    background-color: red;
}

.part2 {
    height: 100%;
    width: 50%;
}